body {
    color: #222
}

.shared {
    margin:0;
}
.jumbotron {
    background-image: url('./images/banner.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #b2533e;
    min-height: 280px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-heightfade {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease-in-out;
    -moz-transition: height .25s ease-in-out;
    -webkit-transition: height .25s ease-in-out;
    transition:max-height 0.3s ease-in-out; 
}

.form-fadein {
    height: auto;
    max-height: 100px;
}

.bg-title {
    background-image: url('./images/heading-bg.png');
    background-repeat: repeat;
    padding: 0 40px 10px 10px;
    margin-left: -10px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.bg-footer {
    border-top: 1px solid lightgray;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(100,100,100,1);
    -moz-box-shadow: 0px 0px 14px 1px rgba(100,100,100,1);
    box-shadow: 0px 0px 14px 1px rgba(100,100,100,1);
}

.bg-box {
    background-image: url('./images/title-bg.png');
    background-repeat: repeat;
    padding: 0 10px 15px 10px;
    margin-left: -10px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wall-img {
    background-image: url('./images/7526.jpg');
    background-repeat: repeat;
    background-size: 900px 600px;
}

.profile-image {
    border: 1px solid #b2b2b2;
    background-color: #fff;
    padding:5px;
    display: block;
    width: 200px;
    margin: 0 0 0 30px;
    margin-top: -180px;
    border-radius: 3px;
    display: none;
}

@media screen and (min-width: 768px) {
    .jumbotron h1 {
        font-size: 43px;
    }
    .jumbotron h2 {
        font-size: 26px;
    }
    .bg-title {
        float: left;
    }

    .landsccape-img {
        padding-top: 70px;
    }

    .border-right{
        border-right: 1px solid gray !important;
        height: 150px;
    }
}

.border-right {
    border-right: 0px solid gray;
    
}

.navbar a.active {
    background-color: #000 !important;
}

.hover-img {
    position: absolute;
    padding-right:5px;
}

#gmap_canvas img {
    max-width:none!important;
    background:none!important
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.rsvp-cont {position: relative}

#submit-spinner-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,0.5);
    border: 16px solid #f3f3f3;
  }

#submit-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #googleMap { height: 500px !important;}

  .cus-modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.cus-modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
}
